* {
    box-sizing: border-box;
}

.main {
    overflow: hidden;
	color: #fff;
}

html{
	font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* header */
.header {
    height: 146px;
	background-color: #fff;
}

.header__navbar {
	height: 60px;
    display: flex;
    justify-content: space-between;
	background-color: #1a1a1a;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0px;
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;
}

.header__navbar-list p {
	font-size: 25px;
	margin-left: 8px;
}
.header__navbar-btn-icon {
	max-width: 240px;
	height: 40px;
	font-size: 15px;
	border-radius:2px;
	background-color: #5e686d;
}

.header__navbar-btn-icon a {
	display: block;
	text-align: center;
	padding: 12px;
	color: white;
	font-size: 20px;
}
.header__navbar-btn-icon a:hover {
	opacity: .5;
}

.header__navbar-btn{
	height:40px;
	font-size:14px;
}
.header__navbar-bottom {
	display: flex;
    justify-content: space-between;
	height: 90px;
	font-size: 12px;
	font-weight: bold;
}

body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* search */
.search {
	background-color: #41a6c9;
	color: #000;
	font-size: 12px;
}

.search input {
	height: 30px;
	width: 100%;
}

.search select {
	height: 30px;
	width: 150px
}

.search button{
	background-color: #ffd800;
	border: none;
	min-width: 115px;
	height: 40px;
}
.search-left {
	margin-bottom: 7px;
}

.search p{
	line-height: 18px;
}
.search span {
	width: 50%;
}

.content {
	background-color: #f8f8f8;
}

.slideshow-container {
	position: relative;
	margin: auto;
  }

.mySlides {
	display: none;
}

.mySlides h2{
	color: #fff;
}

.mySlides img {
	height: 282px;
}

.text {
	background-color: rgba(0, 0, 0, .4);
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #404040;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slide_active, .dot:hover {
	background-color: #87d2e6;
}

.card-content {
	height: 60px;
	width: 100%;
	background-color: #eeeeee;
	border: none;
	color: #000;
}
.card-content h5 {
	text-transform: uppercase;
}

.card-content p {
	color: #b39588;
	font-size: 12px;
}

h2 {
	color: #000;
}
.card-top {
	position: relative;
}

.sale {
	height: 20px;
	width: 70px;
	position: absolute;
	bottom: 0;
	background-color: #41a6c9;
}
.sale p{
	line-height: 20px;
}
.card-top img{
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.card-room-text {
	color: #000;
}

.card-room-text h5{
	font-weight: bold;
}

.price {
	font-weight: bold;
}
.card-room-text p {
	font-size: 12px;
	color: #b7adac;
}

.card-bottom {
	background-color: #efefef;
}

.map {
	height: 300px;
	overflow: hidden;
}
.mapboxgl-map {
	margin: 0;
	width: 100%;
	height: 100%;
}
.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.custom-marker {
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
}

.card-client img{
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.icon-bar {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.5s ease;
	color: white;
	font-size: 20px;
}

.icon-bar a:hover {
	background-color: #000;
}

.facebook {
	background: #3B5998;
	color: white;
}

.twitter {
	background: #55ACEE;
	color: white;
}

.google {
	background: #dd4b39;
	color: white;
}

.linkedin {
	background: #007bb5;
	color: white;
}